html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    height: 100%;
}

body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("assets/backgrounds/awallpaper.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: #000;
    text-align: center;
    padding-top: 80px; 
}

.top-bar {
    background-image: url(assets/navBar.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.292);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.top-bar .logo .nameImage {
    max-width: 19em;
    height: auto;
}

.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links ul li {
    margin: 0 2em; 
}

.nav-links ul li a img {
    width: 120px;
    height: 50px;
    transition: transform 0.3s ease;
    box-shadow: 7px 7px 10px #000;
}

.nav-links ul li a img:hover {
    transform: scale(1.1);
}

main {
    max-width: 800px; 
    padding: 2em;
    margin-bottom: 2em; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.header-image {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 1em; 
}

.transparent-container {
    background-color: rgba(255, 255, 255, 0.366);
    padding: 2em;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px; 
    margin: 1em auto; 
}

form {
    width: 100%; 
}

.form-control {
    height: 50px; 
    font-size: 1em; 
    padding: 0.5em; 
}

textarea.form-control {
    height: 100px; 
    font-size: 1em; 
    padding: 0.5em; 
    resize: none; 
}

.btn {
    padding: 0.5em 2em; 
    font-size: 1.1em; 
    margin-top: 1em; 
    background-color: #007bff; 
    border: none; 
}

.btn:hover {
    background-color: #0056b3; 
}

@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        height: auto;
        padding: 0.5em;
    }

    .nav-links ul {
        flex-direction: row; 
        align-items: center;
        margin-top: 0;
    }

    .nav-links ul li {
        margin: 0 0.5em; 
    }

    .nav-links ul li a img {
        width: 60px; 
        height: auto; 
    }

    main {
        padding: 1em; 
    }

    .header-image {
        max-width: 90%; 
    }

    p {
        font-size: 1em; 
        padding: 0.5em; 
    }

    .image-album {
        max-width: 100%; 
        height: auto; 
    }

    .album-container {
        height: auto; 
    }

    button {
        bottom: 20px; 
    }
}
